
*.mod
*.o
main
data/height.txt
data/hist1.txt
data/hist2.txt
data/hist3.txt
data/hist4.txt
data/hist5.txt
data/hist6.txt
data/hist7.txt
data/hist8.txt
data/hist9.txt
data/pos.txt
data/pos1.txt
start_time.txt
data/energy_and_time.txt
data/rms_force.txt
data/energy_error.txt
data/energy_error.txt
*.txt
